In [6]:
import pandas as pd

In [7]:
df1 = pd.read_csv('/Users/noeoberle/Boom chicago/FareHarbour CSV Files/Vsae--2025-01-01--2025-12-31.csv', header = 1)
df2 = pd.read_csv('/Users/noeoberle/Boom chicago/FareHarbour CSV Files/Vsae--2024-01-01--2025-01-01.csv', header = 1)
df3 = pd.read_csv('/Users/noeoberle/Boom chicago/FareHarbour CSV Files/Vsae--2023-01-01--2024-01-01.csv', header = 1)
df4 = pd.read_csv('/Users/noeoberle/Boom chicago/FareHarbour CSV Files/Vsae--2022-01-01--2023-01-01.csv', header = 1)

In [8]:
df1

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263928185,2025-01-03 @ 07:51pm,Online,2025-01-03 @ 08:00pm,Matteo Crescenti,+41 79 742 89 54,3,€57.66,€5.19,€62.85,€62.85,€1.68,€61.17,NaN
1,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263925292,2025-01-03 @ 07:34pm,Online,2025-01-03 @ 08:00pm,Prisca Andriessen,+1 847-262-6708,2,€52.30,€4.70,€57.00,€57.00,€1.55,€55.45,NaN
2,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263921085,2025-01-03 @ 07:14pm,Online,2025-01-03 @ 08:00pm,Jeroen Verhagen,06 20022918,2,€52.30,€4.70,€57.00,€57.00,€0.29,€56.71,NaN
3,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263917721,2025-01-03 @ 06:58pm,Online,2025-01-03 @ 08:00pm,Louisa Dahlmann,+49 1575 7151754,2,€52.30,€4.70,€57.00,€57.00,€1.55,€55.45,NaN
4,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263900256,2025-01-03 @ 05:14pm,Online,2025-01-03 @ 08:00pm,Shayan Ravandoust,06407906,3,€78.45,€7.05,€85.50,€85.50,€0.29,€85.21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,WTF Improv,11/6/25 @ 8pm – 10pm,11/6/2025,Online,#267122747,2025-01-27 @ 07:54pm,Online,2025-06-11 @ 08:00pm,Sean Sowers,+1 916-467-5853,3,€64.68,€5.82,€70.50,€70.50,€1.85,€68.65,NaN
5349,WTF Improv,18/6/25 @ 8pm – 10pm,18/6/2025,Online,#275071025,2025-03-22 @ 07:59pm,Online,2025-06-18 @ 08:00pm,Stacey L Henkel,+1 616-443-2383,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5350,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#272310966,2025-03-05 @ 08:37pm,Online,2025-06-25 @ 08:00pm,joel nomkin,+1 602-312-7021,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5351,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#270529059,2025-02-21 @ 07:57pm,Online,2025-06-25 @ 08:00pm,Jordan messler,+1 727-453-2522,4,€86.24,€7.76,€94.00,€94.00,€2.37,€91.63,NaN
5352,8 items,329 availabilities,125 dates,20 users,NaN,NaN,NaN,NaN,NaN,NaN,11530,"€208,813.15","€18,790.93","€227,604.08","€226,727.58","€3,513.03","€223,214.55",NaN

In [9]:
df2

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205640753,2024-01-05 @ 08:01pm,Online,2024-01-05 @ 08:00pm,Steffi,+49 176 76026164,2,€50.46,€4.54,€55.00,€55.00,€0.29,€54.71,NaN
1,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205632246,2024-01-05 @ 07:01pm,Online,2024-01-05 @ 08:00pm,Adam Rasmussen Arda,+44 7807 941110,1,€25.23,€2.27,€27.50,€27.50,€0.90,€26.60,NaN
2,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205627545,2024-01-05 @ 06:24pm,Online,2024-01-05 @ 08:00pm,Gabriel Odin,+33 6 58 96 15 35,1,€25.23,€2.27,€27.50,€27.50,€0.90,€26.60,NaN
3,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205627258,2024-01-05 @ 06:22pm,Online,2024-01-05 @ 08:00pm,Samuel Jaudel,+316624833723,2,€64.22,€5.78,€70.00,€70.00,€0.29,€69.71,NaN
4,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205626490,2024-01-05 @ 06:17pm,Online,2024-01-05 @ 08:00pm,Manon Boersen,06 21929589,2,€50.46,€4.54,€55.00,€55.00,€0.29,€54.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13407,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Online,#258799737,2024-11-28 @ 10:52am,Online,2024-12-18 @ 08:00pm,Sebastiaan Szymczyk,06 81363321,3,€61.92,€5.58,€67.50,€67.50,€1.78,€65.72,NaN
13408,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Online,#257849022,2024-11-20 @ 02:22pm,Online,2024-12-18 @ 08:00pm,Sylvie Makelberge,+32 472 36 49 32,1,€20.64,€1.86,€22.50,€22.50,€0.80,€21.70,NaN
13409,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Online,#256021423,2024-11-05 @ 02:01pm,Online,2024-12-18 @ 08:00pm,Michael Moore,06 15232216,12,€247.68,€22.32,€270.00,€270.00,€6.24,€263.76,NaN
13410,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Macy,#257233240,2024-11-15 @ 10:48am,Macy,2024-12-18 @ 08:00pm,Sophie 't Hart,NaN,1,€20.64,€1.86,€22.50,€22.50,€0.29,€22.21,NaN
13411,11 items,652 availabilities,249 dates,18 users,NaN,NaN,NaN,NaN,NaN,NaN,29214,"€569,320.15","€51,167.51","€620,487.66","€619,773.18","€9,862.63","€609,910.55",NaN

In [10]:
merged_df = pd.concat([df1, df2, df3, df4], axis=0)

In [11]:
merged_df

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263928185,2025-01-03 @ 07:51pm,Online,2025-01-03 @ 08:00pm,Matteo Crescenti,+41 79 742 89 54,3,€57.66,€5.19,€62.85,€62.85,€1.68,€61.17,NaN
1,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263925292,2025-01-03 @ 07:34pm,Online,2025-01-03 @ 08:00pm,Prisca Andriessen,+1 847-262-6708,2,€52.30,€4.70,€57.00,€57.00,€1.55,€55.45,NaN
2,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263921085,2025-01-03 @ 07:14pm,Online,2025-01-03 @ 08:00pm,Jeroen Verhagen,06 20022918,2,€52.30,€4.70,€57.00,€57.00,€0.29,€56.71,NaN
3,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263917721,2025-01-03 @ 06:58pm,Online,2025-01-03 @ 08:00pm,Louisa Dahlmann,+49 1575 7151754,2,€52.30,€4.70,€57.00,€57.00,€1.55,€55.45,NaN
4,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263900256,2025-01-03 @ 05:14pm,Online,2025-01-03 @ 08:00pm,Shayan Ravandoust,06407906,3,€78.45,€7.05,€85.50,€85.50,€0.29,€85.21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5579,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148364345,2022-12-05 @ 03:19pm,Online,2022-12-18 @ 07:00pm,Aziya,06 86189641,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5580,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148180993,2022-12-03 @ 08:41pm,Online,2022-12-18 @ 07:00pm,Ed Keeling,+353 86 851 5731,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5581,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148029905,2022-12-02 @ 10:13am,Online,2022-12-18 @ 07:00pm,Amy Moolevliet,06 21340171,2,€34.00,€0.00,€34.00,€34.00,€0.29,€33.71,NaN
5582,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#146647359,2022-11-17 @ 04:35pm,Online,2022-12-18 @ 07:00pm,Violet Koppe,06 55888213,3,€43.36,€0.00,€43.36,€43.36,€0.29,€43.07,NaN
5583,4 items,168 availabilities,148 dates,14 users,NaN,NaN,NaN,NaN,NaN,NaN,11789,"€220,068.69","€16,119.54","€236,188.23","€235,536.40","€3,714.19","€231,822.21",NaN

In [12]:
clean_df = merged_df.drop_duplicates()

In [13]:
clean_df

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263928185,2025-01-03 @ 07:51pm,Online,2025-01-03 @ 08:00pm,Matteo Crescenti,+41 79 742 89 54,3,€57.66,€5.19,€62.85,€62.85,€1.68,€61.17,NaN
1,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263925292,2025-01-03 @ 07:34pm,Online,2025-01-03 @ 08:00pm,Prisca Andriessen,+1 847-262-6708,2,€52.30,€4.70,€57.00,€57.00,€1.55,€55.45,NaN
2,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263921085,2025-01-03 @ 07:14pm,Online,2025-01-03 @ 08:00pm,Jeroen Verhagen,06 20022918,2,€52.30,€4.70,€57.00,€57.00,€0.29,€56.71,NaN
3,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263917721,2025-01-03 @ 06:58pm,Online,2025-01-03 @ 08:00pm,Louisa Dahlmann,+49 1575 7151754,2,€52.30,€4.70,€57.00,€57.00,€1.55,€55.45,NaN
4,Improv Spectacular | Comedy Show,3/1/25 @ 8pm – 10pm,3/1/2025,Online,#263900256,2025-01-03 @ 05:14pm,Online,2025-01-03 @ 08:00pm,Shayan Ravandoust,06407906,3,€78.45,€7.05,€85.50,€85.50,€0.29,€85.21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5579,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148364345,2022-12-05 @ 03:19pm,Online,2022-12-18 @ 07:00pm,Aziya,06 86189641,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5580,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148180993,2022-12-03 @ 08:41pm,Online,2022-12-18 @ 07:00pm,Ed Keeling,+353 86 851 5731,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5581,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148029905,2022-12-02 @ 10:13am,Online,2022-12-18 @ 07:00pm,Amy Moolevliet,06 21340171,2,€34.00,€0.00,€34.00,€34.00,€0.29,€33.71,NaN
5582,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#146647359,2022-11-17 @ 04:35pm,Online,2022-12-18 @ 07:00pm,Violet Koppe,06 55888213,3,€43.36,€0.00,€43.36,€43.36,€0.29,€43.07,NaN
5583,4 items,168 availabilities,148 dates,14 users,NaN,NaN,NaN,NaN,NaN,NaN,11789,"€220,068.69","€16,119.54","€236,188.23","€235,536.40","€3,714.19","€231,822.21",NaN

In [14]:
clean_df = clean_df.drop(columns = ['Contact', 'Booking created by', 'Last Booked By', 'Affiliate', 'Total Tax', 'Total', 'Total Paid', 'Processing Fees', 'Total Paid after Processing Fees'])

In [15]:
clean_df['Availability'] = clean_df['Availability'].str.replace(r'^.*@ ', '', regex=True)

In [16]:
clean_df.rename(columns={'Availability': 'Show Time'}, inplace=True)
clean_df

,Item,Show Time,Availability date,Booking ID,Created At,Availability.1,Phone,# of Pax,Subtotal
0,Improv Spectacular | Comedy Show,8pm – 10pm,3/1/2025,#263928185,2025-01-03 @ 07:51pm,2025-01-03 @ 08:00pm,+41 79 742 89 54,3,€57.66
1,Improv Spectacular | Comedy Show,8pm – 10pm,3/1/2025,#263925292,2025-01-03 @ 07:34pm,2025-01-03 @ 08:00pm,+1 847-262-6708,2,€52.30
2,Improv Spectacular | Comedy Show,8pm – 10pm,3/1/2025,#263921085,2025-01-03 @ 07:14pm,2025-01-03 @ 08:00pm,06 20022918,2,€52.30
3,Improv Spectacular | Comedy Show,8pm – 10pm,3/1/2025,#263917721,2025-01-03 @ 06:58pm,2025-01-03 @ 08:00pm,+49 1575 7151754,2,€52.30
4,Improv Spectacular | Comedy Show,8pm – 10pm,3/1/2025,#263900256,2025-01-03 @ 05:14pm,2025-01-03 @ 08:00pm,06407906,3,€78.45
...,...,...,...,...,...,...,...,...,...
5579,Sunday Night Live,7pm – 8:15pm,18/12/2022,#148364345,2022-12-05 @ 03:19pm,2022-12-18 @ 07:00pm,06 86189641,2,€39.00
5580,Sunday Night Live,7pm – 8:15pm,18/12/2022,#148180993,2022-12-03 @ 08:41pm,2022-12-18 @ 07:00pm,+353 86 851 5731,2,€39.00
5581,Sunday Night Live,7pm – 8:15pm,18/12/2022,#148029905,2022-12-02 @ 10:13am,2022-12-18 @ 07:00pm,06 21340171,2,€34.00
5582,Sunday Night Live,7pm – 8:15pm,18/12/2022,#146647359,2022-11-17 @ 04:35pm,2022-12-18 @ 07:00pm,06 55888213,3,€43.36
5583,4 items,168 availabilities,148 dates,NaN,NaN,NaN,NaN,11789,"€220,068.69"

In [24]:
clean_df['Availability date'] = clean_df['Availability date'].str.replace('/', '-', regex=False)

# Convert to datetime safely
clean_df['Availability date'] = pd.to_datetime(
    clean_df['Availability date'], 
    dayfirst=True, 
    errors='coerce'
)

clean_df

,Item,Show Time,Availability date,Booking ID,Created At,Availability.1,Phone,# of Pax,Subtotal
0,Improv Spectacular | Comedy Show,8pm – 10pm,2025-01-03,#263928185,2025-01-03 @ 07:51pm,2025-01-03 @ 08:00pm,+41 79 742 89 54,3,€57.66
1,Improv Spectacular | Comedy Show,8pm – 10pm,2025-01-03,#263925292,2025-01-03 @ 07:34pm,2025-01-03 @ 08:00pm,+1 847-262-6708,2,€52.30
2,Improv Spectacular | Comedy Show,8pm – 10pm,2025-01-03,#263921085,2025-01-03 @ 07:14pm,2025-01-03 @ 08:00pm,06 20022918,2,€52.30
3,Improv Spectacular | Comedy Show,8pm – 10pm,2025-01-03,#263917721,2025-01-03 @ 06:58pm,2025-01-03 @ 08:00pm,+49 1575 7151754,2,€52.30
4,Improv Spectacular | Comedy Show,8pm – 10pm,2025-01-03,#263900256,2025-01-03 @ 05:14pm,2025-01-03 @ 08:00pm,06407906,3,€78.45
...,...,...,...,...,...,...,...,...,...
5579,Sunday Night Live,7pm – 8:15pm,2022-12-18,#148364345,2022-12-05 @ 03:19pm,2022-12-18 @ 07:00pm,06 86189641,2,€39.00
5580,Sunday Night Live,7pm – 8:15pm,2022-12-18,#148180993,2022-12-03 @ 08:41pm,2022-12-18 @ 07:00pm,+353 86 851 5731,2,€39.00
5581,Sunday Night Live,7pm – 8:15pm,2022-12-18,#148029905,2022-12-02 @ 10:13am,2022-12-18 @ 07:00pm,06 21340171,2,€34.00
5582,Sunday Night Live,7pm – 8:15pm,2022-12-18,#146647359,2022-11-17 @ 04:35pm,2022-12-18 @ 07:00pm,06 55888213,3,€43.36
5583,4 items,168 availabilities,NaT,NaN,NaN,NaN,NaN,11789,"€220,068.69"

In [18]:
df_weather = pd.read_csv('/Users/noeoberle/Boom chicago/Weather/export.csv')
clean_df_weather = df_weather.drop(columns = ['tmin', 'tmax', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun'])
clean_df_weather['date'] = pd.to_datetime(clean_df_weather['date'])

clean_df_weather['date'] = clean_df_weather['date'].dt.date
clean_df_weather

            date  tavg  prcp
0     2022-01-01  11.5   0.0
1     2022-01-02  11.6   6.8
2     2022-01-03   9.5   NaN
3     2022-01-04   6.8   0.7
4     2022-01-05   5.5   3.5
...          ...   ...   ...
1195  2025-04-10   9.1   0.0
1196  2025-04-11   9.8   0.0
1197  2025-04-12  14.5   0.0
1198  2025-04-13  14.2   3.7
1199  2025-04-14  12.7   0.1

[1200 rows x 3 columns]

In [21]:
clean_df_weather['date'] = pd.to_datetime(df_weather['date'])
clean_df['Availability date'] = pd.to_datetime(clean_df['Availability date'])

# Merge on the date
df_combined = pd.merge(clean_df, clean_df_weather, on='date', how='left')


df_combined

ValueError: time data "16-1-2025" doesn't match format "%m-%d-%Y", at position 5. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.